<!-- HEADER --------------------------------------------------------------->
<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: aliceblue;" >GyManagement
      <img src="../../../assets/icon/powerlifting.png" alt="Logo" style="height: 32px; width: auto; vertical-align: middle;" />
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

  <h2 style="font-weight: bold; font-size: 1.5rem; margin-bottom: 1rem;">Lista Trainer:</h2>

  <ng-container *ngIf="trainers$ | async as trainers">
  <ion-card *ngFor="let trainer of trainers">
    <ion-card-header>
      <ion-card-title>{{ trainer.full_name }}</ion-card-title>
      <ion-card-subtitle>{{ trainer.specialization }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Max per slot:</strong> {{ trainer.max_clients_per_slot }}</p>
      <p><strong>Stelle medie:</strong> {{ trainer.avg_rating || "0" }} ⭐ ({{ trainer.rating_count }} recensioni)</p>
    </ion-card-content>
  </ion-card>
</ng-container>

  <ng-template #loading>
    <ion-skeleton-text animated style="width: 80%; height: 20px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 90%; height: 20px;"></ion-skeleton-text>
  </ng-template>

  <ng-template #noTrainers>
    <div class="no-workouts">
      Nessun trainer disponibile al momento.
    </div>
  </ng-template>

  <ion-button class="custom-home-button" expand="block" color="medium" (click)="goHome() ">
    Torna alla Home
  </ion-button>
</ion-content>

<!-- TAB BAR -->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home"  routerLink="/customer/dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prenota" routerLink="/customer/booking-page">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Prenota</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilo" routerLink="/customer/profile-page">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
