
.profile-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(16, 16, 16, 0.769);
}

ion-item {
  --background: none;
  --color: #ffffff;
  padding: 0.5rem;
}

ion-button {
  margin-top: 1rem;
}
