<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/trainer/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title >Crea Slot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container">
    <form [formGroup]="slotForm" (ngSubmit)="creaSlot()">

      <!-- Data -->
      <div class="calendario">
        <ion-item>
          <ion-label style="color: aliceblue;">Data</ion-label>
          <ion-datetime formControlName="date" presentation="date" displayFormat="DD MMM YYYY"
            style="color: aliceblue;"></ion-datetime>
        </ion-item>
      </div>

      <!-- Ora di inizio -->
      <div class="inizio">
        <ion-item>
          <ion-label style="color: aliceblue;">Ora inizio</ion-label>
          <ion-datetime formControlName="start_time" presentation="time" displayFormat="HH:mm"
            style="color: aliceblue;"></ion-datetime>
        </ion-item>
      </div>

      <!-- Ora di fine -->
      <div class="fine">
        <ion-item>
          <ion-label style="color: aliceblue;">Ora fine</ion-label>
          <ion-datetime formControlName="end_time" presentation="time" displayFormat="HH:mm"
            style="color: aliceblue;"></ion-datetime>
        </ion-item>
      </div>

      <!-- Max clienti -->
      <div class="clienti">
        <ion-item>
          <ion-label position="floating" style="color: aliceblue;">Max clienti</ion-label>
          <ion-input type="number" formControlName="max_clients" style="color: aliceblue;"></ion-input>
        </ion-item>
      </div>

      <div class="bottone">
      <ion-button class="myBtn" expand="block" type="submit" [disabled]="slotForm.invalid">Crea Slot</ion-button>
      </div>
    </form>

  </div>
</ion-content>

<app-footer></app-footer>