<ion-footer>
  <ion-tab-bar slot="bottom">
    
    <!-- CUSTOMER -->
    <ion-tab-button tab="home" routerLink="/customer/dashboard" *ngIf="userData?.role === 'customer'">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prenota" routerLink="/customer/booking-page" *ngIf="userData?.role === 'customer'">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Prenota</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilo" routerLink="/customer/profile-page" *ngIf="userData?.role === 'customer'">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>

    <!-- TRAINER -->
    <ion-tab-button tab="home" routerLink="/trainer/dashboard" *ngIf="userData?.role === 'trainer'">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="slots" routerLink="/trainer/create-slot" *ngIf="userData?.role === 'trainer'">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Crea slot</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilo" routerLink="/customer/profile-page" *ngIf="userData?.role === 'trainer'">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>

    <!-- ADMIN -->

  <ion-tab-button tab="home" routerLink="/admin/dashboard" *ngIf="userData?.role === 'admin'">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

  
</ion-footer>
