
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recensioni ricevute</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <div class="review-container">
    <h2>Le mie recensioni</h2>

    <div class="star-rating average">
      <ion-icon
        *ngFor="let star of [1, 2, 3, 4, 5]"
        [name]="getStarIcon(star, averageRating)"
        class="star yellow"
      ></ion-icon>
      <span class="avg-value">({{ averageRating.toFixed(1) }})</span>
    </div>

    <div *ngIf="reviews.length > 0; else noReviews" class="workouts-container">
      <ion-card *ngFor="let review of reviews">
        <ion-label>
          <h3>
            {{ review.customerName }}
            <span class="review-date">– {{ review.date | date: 'dd/MM/yyyy' }}</span>
          </h3>
        </ion-label>
        <div class="star-rating">
          <ion-icon
            *ngFor="let star of [1, 2, 3, 4, 5]"
            [name]="star <= review.rating ? 'star' : 'star-outline'"
            class="star yellow"
          ></ion-icon>
        </div>
        <p>{{ review.comment }}</p>
      </ion-card>
    </div>

    <ng-template #noReviews>
      <p class="no-workouts">Nessuna recensione disponibile.</p>
    </ng-template>
  </div>
</ion-content>

<app-footer></app-footer>


