
ion-title {
  flex: 1 1 auto !important;
  text-align: center;
  margin: 0 !important;
  color: antiquewhite;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  display: block;
}

ion-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-menu-button {
  --icon-font-size: 2.2rem;
  width: 48px;
  height: 48px;
}

ion-button {
  margin-top: 10px;
}

ion-item {
  --background: none;
  --color: #ffffff;
  padding: 0.5rem;
}


.no-workouts {
  text-align: center;
  margin-top: 2rem;
  color: #5b5b5b;
}



.menu-footer {
  font-size: 0.85rem;
  color: #888;
  text-align: center;
  line-height: 1.2;
}

ion-content {
  --background: none;
  background: linear-gradient(135deg, #2370ff 0%, #00e0ff 100%);
}

ion-toolbar {
  display: flex;
  align-items: center;
  min-height: 72px;
}

ion-toolbar ion-title {
  flex: 1 1 auto !important;
  text-align: center;
  margin: 0 !important;
  justify-content: center;
  display: flex;
  align-items: center;
}
ion-card {
  background: #010101c4;
  border-radius: 50px;
  padding: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ion-card-title, ion-card-subtitle {
  color: white;
}

ion-label, ion-chip {
  color: white;
}
