<!-- HEADER -->
<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: aliceblue;">
      GyManagement
      <img src="../../../assets/icon/powerlifting.png" alt="Logo"
        style="height: 32px; width: auto; vertical-align: middle;" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- CONTENUTO PRINCIPALE -->
<ion-content fullscreen class="ion-padding">
  <ng-container *ngIf=" upcomingSessions$ | async as sessioni; else loading">
    <ion-card *ngFor="let s of sessioni">
      <ion-card-header>
        <ion-card-title>Slot di allenamento</ion-card-title>
        <ion-card-subtitle>
          {{ s.start_time | date:'dd/MM/yyyy' }}<br>
          {{ s.start_time | date:'HH:mm' }} - {{ s.end_time | date:'HH:mm' }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Specializzazione:</strong> {{ trainerSpecialization }}</p>
        <p><strong>Clienti prenotati:</strong> {{ s.booked_clients }}</p>
        <ion-chip color="primary" style="cursor: default; pointer-events: none; box-shadow: none !important;">
          <ion-icon name="barbell-outline" style="margin-right: 0.5rem;"> </ion-icon> Slot #{{ s.id }}</ion-chip>
      </ion-card-content>
    </ion-card>

    <div *ngIf="!sessioni.length" class="no-workouts">
      Nessuna sessione programmata.
    </div>
  </ng-container>

  <ng-template #loading>
    <ion-skeleton-text animated style="width: 80%; height: 20px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 90%; height: 20px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%; height: 20px;"></ion-skeleton-text>
  </ng-template>
</ion-content>

<!-- TAB BAR -->
<app-footer></app-footer>