<!-- MENU LATERALE -------------------------------------------------------->
<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title >Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="menu-flex-container">
      <ion-list>
        <ion-item routerLink="/recensisci" (click)="recensisci()" class="recensisci-item">
          <ion-icon name="star-outline" slot="start"></ion-icon>
          <ion-label>Recensisci PT</ion-label>
        </ion-item>
      </ion-list>
      <div class="menu-bottom">
        <ion-button expand="block" color="danger" class="logoutBtn" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Logout
        </ion-button>
        <div class="menu-footer">
          Gruppo studio Gulo-Cipo-Cost:<br>
          Progetto Università degli Studi di Palermo
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>

<!-- HEADER --------------------------------------------------------------->
<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" ></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: aliceblue;" >GyManagement
      <img src="../../../assets/icon/powerlifting.png" alt="Logo" style="height: 32px; width: auto; vertical-align: middle;" />
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<!-- CONTENUTO PRINCIPALE -------------------------------------------------->
<ion-content id="main-content" fullscreen class="ion-padding">

  <!-- LISTA / LOADING / VUOTO con async pipe -->
  <ng-container *ngIf="upcomingBookings$ | async as allenamenti">

    
    <ion-card *ngFor="let a of allenamenti">
      <ion-card-header>
        <ion-card-title>{{ a.titolo }}</ion-card-title>
        <ion-card-subtitle>
          {{ a.data | date:'dd/MM/yyyy' }} - {{ a.ora }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>{{ a.descrizione }}</p>
        <ion-chip
          [color]="a.tipo === 'Cardio' ? 'danger' : 'primary'">{{ a.tipo }}</ion-chip>
      </ion-card-content>
    </ion-card>

    <div *ngIf="!allenamenti.length" class="no-workouts">
      Nessun allenamento schedulato.
    </div>

  </ng-container>

  <!-- scheletro mentre attende la risposta HTTP -->
  <ng-template #loading>
    <ion-skeleton-text animated style="width: 80%; height: 20px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 90%; height: 20px;"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%; height: 20px;"></ion-skeleton-text>
  </ng-template>

</ion-content>

<!-- TAB BAR -------------------------------------------------------------->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prenota">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Prenota</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilo">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
