<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: aliceblue;" >GyManagement
      <img src="../../../assets/icon/powerlifting.png" alt="Logo" style="height: 32px; width: auto; vertical-align: middle;" />
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="titolo" style="font-weight: bold; font-size: 1.5rem; margin-bottom: 1rem">
    Prenotazioni passate:
  </h2>
  <!-- 🧠 Caricamento o visualizzazione prenotazioni -->
  <ng-container *ngIf="(bookings$ | async) as bookings; else loading" class="card-container">
    <!-- 🧠 Mostra prenotazioni se presenti -->
    <ng-container *ngIf="bookings.length > 0; else noData">     
        <ion-card *ngFor="let b of bookings">
          <div class="card-content">
          <ion-card-subtitle>
            <h3>Trainer: {{ b.trainer_name }}</h3>
            <p>Inizio: {{ b.start_time | date:'short' }}</p>
            <p>Fine: {{ b.end_time | date:'short' }}</p>
          </ion-card-subtitle>
          <ion-card-content>
          <ion-chip color="primary"> Specializzazione: {{ b.specialization }} </ion-chip>
        </ion-card-content>
        </div>
        </ion-card>
      
    </ng-container>
  </ng-container>

  <!-- 🆕 Nessuna prenotazione trovata -->
  <ng-template #noData>
    <div
      style="
        text-align: center;
        color: #090909;
        margin-top: 2rem;
        font-size: 1.2rem;
      "
    >
      Nessuna prenotazione trovata.
    </div>
  </ng-template>

  <!-- ⌛ Skeleton di caricamento -->
  <ng-template #loading>
    <ion-skeleton-text animated style="width: 80%; height: 20px"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 90%; height: 20px"></ion-skeleton-text>
    <ion-skeleton-text animated style="width: 70%; height: 20px"></ion-skeleton-text>
  </ng-template>
</ion-content>



<app-footer></app-footer>
