ion-label{
    background-color: rgba(16, 16, 16, 0.769);
    border-radius: 20px;
    padding: 1rem;
    margin: 0.5rem;
}

ion-list{
    --background: none;
}

ion-item{
    --background: none;
    --border-radius: 20px;
 
}