<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu-flex-container">
    <ion-list *ngIf="role === 'customer'">
      <ion-item (click)="recensisci()">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>Recensisci PT</ion-label>
      </ion-item>
      <ion-item (click)="selezionaPt()">
        <ion-icon name="fitness-outline" slot="start"></ion-icon>
        <ion-label>Seleziona PT</ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="role === 'trainer'">
      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Gestisci slot</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Lista clienti</ion-label>
      </ion-item>
    </ion-list>

    <div class="menu-bottom">
      <ion-button expand="block" color="danger" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Logout
      </ion-button>
      <div class="menu-footer">
        Gruppo studio Gulo-Cipo-Cost:<br />
        Progetto Università degli Studi di Palermo
      </div>
    </div>
  </div>
</ion-content>
