
<ion-content class="ion-padding" fullscreen="true">
  <div class="profile-container">
    <h2>Profilo Utente</h2>

    <!-- Immagine del profilo -->
    <div class="profile-image-wrapper">
      <img [src]="userData.photo || 'assets/default-profile.png'" class="profile-image" />
      <input type="file" #fileInput hidden (change)="onFileSelected($event)" />
      <ion-button fill="clear" size="small" (click)="apriFilePicker()">Cambia Foto</ion-button>
    </div>

    <!-- Dati utente -->
    <form (ngSubmit)="salvaModifiche()" #form="ngForm" novalidate>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [value]="userData.nome" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cognome</ion-label>
        <ion-input [value]="userData.cognome" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input [(ngModel)]="userData.username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Numero di telefono</ion-label>
        <ion-input [(ngModel)]="userData.telefono" name="telefono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="userData.password"
          name="password"
        ></ion-input>
        <ion-button fill="clear" size="small" slot="end" (click)="togglePasswordVisibility()">
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Conferma Password</ion-label>
        <ion-input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
        ></ion-input>
      </ion-item>

      <!-- Ruolo (non modificabile) -->
      <ion-item>
        <ion-label position="stacked">Ruolo</ion-label>
        <ion-input [value]="userData.ruolo" readonly></ion-input>
      </ion-item>

      <!-- Messaggio di errore -->
      <div *ngIf="errore" class="errore">
        <ion-icon name="close-circle-outline"></ion-icon>
        {{ messaggioErrore }}
      </div>

      <!-- Pulsante Salva -->
      <ion-button expand="block" type="submit">Salva Modifiche</ion-button>
    </form>
  </div>
</ion-content>

<!-- TAB BAR -------------------------------------------------------------->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prenota">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Prenota</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilo">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>

