<ion-content class="ion-padding" fullscreen="true">
  <div class="profile-container">
    <h2>Profilo Utente</h2>

    <!-- Dati utente -->
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input [value]="userData.nome" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cognome</ion-label>
      <ion-input [value]="userData.cognome" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input [value]="userData.username" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [value]="userData.email" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Numero di telefono</ion-label>
      <ion-input [value]="userData.telefono" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input
        [type]="showPassword ? 'text' : 'password'"
        [value]="userData.password"
        readonly
      ></ion-input>
      <ion-button fill="clear" size="small" slot="end" (click)="togglePasswordVisibility()">
        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ruolo</ion-label>
      <ion-input [value]="userData.ruolo" readonly></ion-input>
    </ion-item>

    <!-- Pulsante Indietro -->
    <ion-button expand="block" color="medium" (click)="tornaIndietro()">Indietro</ion-button>
  </div>
</ion-content>

<!-- TAB BAR -->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prenota">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Prenota</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profilo">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>

