
<!-- HEADER --------------------------------------------------------------->
<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: aliceblue;" >GyManagement
      <img src="../../../assets/icon/powerlifting.png" alt="Logo" style="height: 32px; width: auto; vertical-align: middle;" />
    </ion-title>
    
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" fullscreen="true">
  <div class="review-container">
    <h2>Recensisci il tuo Personal Trainer</h2>

    <!-- Valutazione a stelle -->
    <div class="star-rating">
      <ion-icon
        *ngFor="let star of [1, 2, 3, 4, 5]"
        [name]="star <= rating ? 'star' : 'star-outline'"
        (click)="setRating(star)"
        class="star"
      ></ion-icon>
    </div>

    <!-- Campo recensione -->
    <ion-label style="display: flex; align-items: center; justify-content: center;">Scrivi la tua recensione</ion-label>
    <ion-textarea
      auto-grow="true"
      placeholder="Inserisci qui la tua recensione..."
      [(ngModel)]="reviewText"
    ></ion-textarea>

    <!-- Pulsante pubblica -->
    <ion-button class="btnPublish" expand="block" (click)="rate_trainer()">Pubblica</ion-button>
  </div>
</ion-content>

<!-- TAB BAR -------------------------------------------------------------->
<app-footer></app-footer>

